/.buildpath
/.settings
/.project
/resources
/tags
*~
/vendor/
/composer.phar
/.twgit*
/.idea/
/conf/padocc.php
/conf/padocc-ssh
/conf/supervisor.sh
/build/
composer.phar
conf/phpunit.xml
/cache.properties
/doc/build/
