<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	syntaxCheck="false"
	processIsolation="false"
	colors="true"
>

	<testsuite name="My Test Suite">
		<file>AllTests.class.php</file>
	</testsuite>

	<filter>
		<blacklist>
			<directory suffix=".php">../tests</directory>
		</blacklist>
		<whitelist>
			<directory suffix=".php">../core</directory>
			<directory suffix=".php">../lib</directory>
			<exclude>
				<directory suffix="Interface.class.php">../lib</directory>
			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="/var/www/deployment/report" charset="UTF-8"
			yui="true" highlight="false"
			lowUpperBound="35" highLowerBound="70"/>
		<log type="testdox-text" target="/var/www/deployment/report/testdox.txt"/>
		<log type="testdox-html" target="/var/www/deployment/report/testdox.html"/>
	</logging>

</phpunit>