html,body{
   
    overflow:hidden;
     width:100%;
     height:100%;
     margin:0;
     padding:0;
     background:url(/assets/img/interface/bg_pattern.gif);

}


#before_container{
    height:12%;    
    color:#fff;
    text-align:center;
    font-size:19px;
    padding-top: 15px;
}
#out_container{
    background:url(/assets/img/interface/bg_pattern2.gif) repeat-x 0 -205px;
    padding-top:89px;
}

#logo{
    width:266px;
    height: 184px;
    margin:0 auto;
    /*background:url(/assets/img/interface/logo_home.png) no-repeat;*/
}
#container{
    
    margin: 0 auto 0 auto;
    width:857px;
    z-index:20;
    
}
#mirror_container{
    margin: 0px auto 0 auto;
    padding-top:6px;
    width:857px;
    z-index:20;

}
.menu_icon{
   
    float:left;
    margin-left: 20px;
    background:url(/assets/img/interface/icon/icon_set.png) no-repeat -750px 0px;
   
}
#container .menu_icon{
     cursor:pointer;
}

.menu_icon_top{
    background:url(/assets/img/interface/icon/icon_set.png) no-repeat no-repeat -900px 0px;
     width:150px;
    height:150px;
}
.menu_icon_img {
    
   
}
.footer-table, .table thead th, .datatable thead th {
    background: #414141;
}

#mirror_container .menu_icon {background:url(/assets/img/interface/icon/icon_set.png) no-repeat -750px -150px;}
#mirror_container .menu_icon_top {background:url(/assets/img/interface/icon/icon_set.png) no-repeat -900px -150px;}

.menu_icon_img.mia{color:#FF7BAC; background:url(/assets/img/interface/icon/icon_set.png) no-repeat 0px 0px;}
.menu_icon_img.mib{color:#FFE183; background:url(/assets/img/interface/icon/icon_set.png) no-repeat -150px 0px;}
.menu_icon_img.mic{color:#CBFA87; background:url(/assets/img/interface/icon/icon_set.png) no-repeat -300px 0px;}
.menu_icon_img.mid{color:#2D90B3; background:url(/assets/img/interface/icon/icon_set.png) no-repeat -450px 0px;}
.menu_icon_img.mie{color:#FF7BAC; background:url(/assets/img/interface/icon/icon_set.png) no-repeat -600px 0px;}

#mirror_container .menu_icon_img.mia{color:#FF7BAC; background:url(/assets/img/interface/icon/icon_set.png) no-repeat 0px -150px;}
#mirror_container .menu_icon_img.mib{color:#FFE167; background:url(/assets/img/interface/icon/icon_set.png) no-repeat -150px -150px;}
#mirror_container .menu_icon_img.mic{color:#CBFA87; background:url(/assets/img/interface/icon/icon_set.png) no-repeat -300px -150px;}
#mirror_container .menu_icon_img.mid{color:#2D90B3; background:url(/assets/img/interface/icon/icon_set.png) no-repeat -450px -150px;}
#mirror_container .menu_icon_img.mie{color:#FF7BAC; background:url(/assets/img/interface/icon/icon_set.png) no-repeat -600px -150px;}

.menu_icon.first{
    margin-left: 0px;
}
#border_bottom{
    width:100%;
    height:100px;
    position:fixed;
    bottom:0;
    background: #000;
    opacity:0.5;
    z-index:10;
    color: white;  

}
#opening{
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    background:#000;
    z-index: 100;
    opacity: 1;
}
#opening_left{
    width:40%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background: #000;
    z-index:10;
    color: white;  
}

#opening_right{
    width:60%;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    color: white;  
}
#opening_left .or1{
    position:relative;
    
    left:100%;
    margin-left: -330px;
    width:412px;
    height:80%;
    background:url(/assets/img/interface/logo_opening2_01.png) no-repeat 0px 50%;

}

#opening_left .or2{
   
    height:20%;
}

#opening_left img{
position: relative;
top: 50%;
margin-top: 212px;
left: 35%;
}


#opening_right .or1{
   
    height:80%;
    background:url(/assets/img/interface/logo_opening2_02.png) no-repeat 0px 50%;
    width:81px;
    float:left;
 

}

#opening_right .or2{
    background: #000;
    height:80%;
    width:100%;
    margin-left:81px;
    position:relative;
}

#opening_right .or3{
    position:relative;
    width:40%;
    height:400px;
    top:50%;
    left:40px;
    
}
#opening_right .or4{
  
   
    height:20%;
    background:#000;
  
}

#opening_right .or3 input{
    height:46px;
    width:422px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    display:block;
    color:#302a2a;
    font-size:17px;
    xxpadding:25px;
    border-radius: 7px;
    padding-left: 7px;
    font-size: 18px;
}


#ajax_content{
    width:100%;
    height:100px;
    position:fixed;
    bottom:0;
    background-color: rgba(0%, 0%, 0%, 0.7);
   
    z-index:10;
    color: white;
    overflow:auto;

}

#ajax_content{
    width:0;
    height:100%;
    position:fixed;
    right:0;
    background-color: rgba(0%, 0%, 0%, 0.7);
   
    z-index:10;
    color: white;
    overflow:auto; 

}
#wrapper{

   margin-top:5%;     
      
}
#border_top{
    width:100%;
    height:100px;
    position:fixed;
    top:0;
    background: #000;
    opacity:0.5;
}
.clear{
    clear:both;
}
.none{

    display:none;

}
.menu_title{

    display:none;
    margin-right:20px;


}
.float_menu_title div{
    
    float:left;
    font-size:19px;
    color:#fff;
}
.float_menu_title a{
  font-size:22px;
}

.float_menu_title{
    position:absolute;
    left:2000px;
    top:0;
    width:500px;
}

